<table class="table text-center">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>ユーザー名</th>
      <th>メールアドレス</th>
      <th>投稿数</th>
      <th>会員ステータス</th>
    </tr>
  </thead>
  <% members.each do |member| %>
  <tbody>
    <tr>
      <td><%= member.id %></td>
      <td><%= link_to member.name, admin_member_path(member.id) %></td>
      <td><%= member.email %></td>
      <td><%= member.posts.count %></td>
      <% if member.is_deleted == false %>
        <td><p class="text-success">有効</p></td>
      <% elsif %>
        <td><p class="text-secondary">退会</p></td>
      <% end %>
    </tr>
  </tbody>
  <% end %>
</table>
<div class="d-flex justify-content-center mt-5">
  <%= paginate members %>
</div>