<div class="container my-5">
  <div class="row">
    <div class="col-10 mt-3 mx-auto text-center border-bottom">
      <h1>COMGAME<i class="fas fa-gamepad ml-1"></i>とは?</h1>
      <h4 class="mt-5">ゲーム仲間を探せるコミュニティサイトです</h4>
      <p class="mt-3">ゲーム仲間を探す以外にも…</p>
      <p class="mt-5">▶︎ ゲーム内フレンドを探す</p>
      <p>▶︎ ゲームの攻略法を聞く︎</p>
      <p>▶ おすすめのゲームを聞く</p>
      <p class="my-5">多様な使い方があり、たくさんのユーザーとの繋がることができます</p>
    </div>

    <div class="col-10 text-center mt-5 mx-auto">
      <h2>まずは新規登録<i class="fas fa-edit ml-2"></i></h2>
      <p>会員以外の方が使える機能が限られているので新規登録をお願いします</p>
      <h3><i class="fas fa-angle-double-down my-3"></i></h3>

      <h2>プロフィールを編集しよう<i class="fas fa-user-edit ml-2"></i></h2>
      <p>プロフィールを詳細に記入することで仲間が見つかりやすくなります</p>
      <%= image_tag('profile.png', width: '60%',class: "mt-2 border") %>
      <h3><i class="fas fa-angle-double-down my-3"></i></h3>

      <h2>投稿してみよう<i class="fas fa-pen-square ml-2"></i></h2>
      <p>投稿ページから投稿してみよう！</p>
      <%= image_tag('post.png', width: '60%',class: "mt-2 border") %>
      <h3><i class="fas fa-angle-double-down my-3"></i></h3>

      <h2>コメント/ 気になるしよう<i class="fas fa-laugh-beam ml-2"></i></h2>
      <p>気になった投稿には気になるを押したりコメントをしよう</p>
      <%= image_tag('comment.png', width: '60%',class: "mt-2 border") %>
      <h3><i class="fas fa-angle-double-down my-3"></i></h3>

      <h2>フォローしてDMを送ろう<i class="fas fa-paper-plane ml-2"></i></h2>
      <p>気になるユーザーをフォローしよう！</p>
      <p>フォローした同士でDMが送れます</p>
      <%= image_tag('follow.png', width: '60%',class: "mt-2 border") %>
      <%= image_tag('dm.png', width: '60%',class: "my-2 border") %>

       <h4 class="mt-5">COMEGAMEを利用してあなただけの充実したGameLifeを</h4>
    </div>
  </div>
</div>