<div class="container my-5">
  <div class="row">
    <div class="col-md-8 mt-5 mx-auto">
      <h2><i class="fas fa-user-edit mr-2"></i>プロフィール編集</h2>
      <%= render 'layouts/error',obj: @member %>
    </div>
  </div>

　<div class="row">
    <div class="col-md-8 mx-auto mt-3 mb-5">
      <%= form_with model: @member do |f| %>
        <%= f.label :プロフィール画像, class:"mr-2" %>
        <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %><br>

        <%= f.label :名前,class:"mt-2" %>
        <%= f.text_field:name, class:"form-control" %><br>

        <%= f.label :メールアドレス %>
        <%= f.text_field:email, class:"form-control" %><br>

        <%= f.label :性別, class:"mr-2" %>
        <%= f.select:gender, [ ["男性","男性"], ["女性", "女性"],["非公開", "非公開"] ], prompt: "選択してください", class:"form-control" %><br>

        <%= f.label :自己紹介,class: "mt-2" %>
        <%= f.text_area:introduction, class:"form-control", placeholder: "自己紹介やよく遊ぶゲームなど記入して下さい(400字以内)",rows: 8 %><br>

        <%= f.label :プレイスタイル %>
        <%= f.text_field:playstyle, class:"form-control", placeholder: "本気、気楽に、エンジョイなど" %><br>

        <%= f.label :ゲーム内ランク %>
        <%= f.text_field:gamerank, class:"form-control", placeholder: "ゲーム名とゲームランクを記入して下さい" %><br>

        <%= f.label :ボイスチャット %>
        <%= f.text_field:voicechat, class:"form-control", placeholder: "使用しているボイスチャットがあれば記入して下さい" %><br>

        <%= f.label :プレイ時間 %>
　　　　<%= f.text_field:playtime, class:"form-control", placeholder: "よく遊ぶ時間帯を記入して下さい" %><br>

　　　　<%= f.submit '変更保存', class:"mt-3 btn btn-success form-control" %>

　　　　<%= link_to quitcheck_path(@member.id) do %>
          <button class="mt-4 btn btn-danger form-control" type="submit">退会する</button>
        <% end %>

      <% end %>
    </div>
  </div>
</div>
