<div class="container my-5">
  <div class="row">
    <div class="col-10 mt-5 mx-auto">
      <h2><i class="fas fa-user-edit mr-2"></i>プロフィール編集</h2>
      <%= render 'layouts/error',obj: @member %>
    </div>
  </div>
　 <div class="row">
    <div class="col-10 mx-auto mt-3 mb-5">
      <%= form_with model: @member do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th style="width:25%">プロフィール画像</th>
            <td><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></td>
          </tr>
          <tr>
            <th>名前</th>
            <td><%= f.text_field:name, class:"form-control" %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= f.text_field:email, class:"form-control" %></td>
          </tr>
          <tr>
            <th>性別</th>
            <td><%= f.select:gender, [ ["男性","男性"], ["女性", "女性"],["非公開", "非公開"] ], prompt: "選択してください", class:"form-control" %></td>
          </tr>
          <tr>
          <tr>
            <th>自己紹介</th>
            <td><%= f.text_area:introduction, class:"form-control" %></td>
          </tr>
          <tr>
            <th>プレイスタイル</th>
            <td><%= f.text_field:playstyle, class:"form-control" %></td>
          </tr>
          <tr>
            <th>ゲーム内ランク</th>
            <td><%= f.text_field:gamerank, class:"form-control" %></td>
          </tr>
          <tr>
            <th>ボイスチャット</th>
            <td><%= f.text_field:voicechat, class:"form-control" %></td>
          </tr>
          <tr>
            <th>プレイ時間</th>
            <td><%= f.text_field:playtime, class:"form-control" %></td>
          </tr>
          <tr>
            <th></th>
            <td>
              <%= f.submit '変更を保存', class:"mt-3 mr-4 btn btn-success" %>
              <%= link_to quitcheck_path do %>
                <button class="mt-3 btn btn-danger" type="submit">退会する</button>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>
