<div class="container my-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <h2>検索一覧</h2>
    </div>
  </div>
  <div class="col-10 mt-5 mx-auto">
  <% if @members.exists? %>
    <% @members.each do |member| %>
    <div class="card mb-3">
      <div class="row">
        <div class="col-2">
          <%= image_tag member.get_profile_image(100,100), class: "my-3 mx-4 rounded-circle" %>
        </div>
        <div class="col-10">
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to member_path(member) do %>
                <%= member.name %>
              <% end %>
            </h5>
              <p class="card-text">自己紹介：<%= member.introduction %></p>
              <p class="card-text">プレースタイル：<%= member.playstyle %></p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
    <p>検索結果が見つかりませんでした</p>
  <% end %>
  </div>
</div>
