<%= flash[:notice] %>
<div class="container my-5">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h1><i class="fas fa-address-card mr-2"></i>プロフィール</h1>
    </div>
  </div>
 <!--フォロー機能-->
  <div class="row">
    <div class="col-md-10 mt-3 mx-auto">
      <div class="d-flex flex-row bd-highlight">
        <%= render "public/relationships/follow_function", member: @member %>
      </div>
    </div>
  </div>
  <!--プロフィール詳細-->
　<div class="row">
    <div class="col-md-10 mx-auto">
      <table class="table">
        <tbody>
          <tr>
            <th style="width:25%">名前</th>
            <% if @member.is_deleted %>
              <td><%= @member.name %><%= @member.deleted_message %> </td>
            <% else %>
               <td><%= @member.name %></td>
            <% end %>
          </tr>
          <tr>
            <th>性別</th>
            <td><%= @member.gender %></td>
          </tr>
          <tr>
            <th>自己紹介</th>
            <td><%= @member.introduction %></td>
          </tr>
          <tr>
            <th>プレースタイル</th>
            <td><%= @member.playstyle %></td>
          </tr>
          <tr>
            <th>ゲーム内ランク</th>
            <td><%= @member.gamerank %></td>
          </tr>
          <tr>
            <th>ボイスチャット</th>
            <td><%= @member.voicechat %></td>
          </tr>
          <tr>
            <th>プレイ時間</th>
            <td><%= @member.playtime %></td>
          </tr>
          <tr>
            <th></th>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
　<!--他ページへのリンク-->
  <div class="row">
    <div class="col-md-10 mx-auto">
      <% if member_signed_in? %>
        <%= link_to  favorites_member_path(@member), class: "mr-3 btn btn-outline-info" do %>
          <i class="fas fa-heart mr-2"></i>気になる一覧
        <% end %>
        <%= link_to member_post_member_path(@member), class: "mr-3 btn btn-outline-info" do %>
          <i class="fas fa-list-alt mr-2"></i>投稿一覧
        <% end %>
        <% if @member == current_member %>
          <%= link_to "編集", edit_member_path(@member.id),class: "btn btn-success" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>