<div class="table-responsive">
<table class="table text-center text-nowrap">
  <thead>
    <tr>
      <th>投稿ID</th>
      <th>ユーザー名</th>
      <th>投稿タイトル</th>
      <th>カテゴリー名</th>
      <th>スコア</th>
      <th>気になる数</th>
      <th>コメント数</th>
    </tr>
  </thead>
  <% posts.each do |post| %>
  <tbody>
    <tr>
      <td><%= post.id %></td>
      <td><%= link_to post.member.name, admin_member_path(post.member.id) %></td>
      <td><%= link_to post.title, admin_post_path(post.id) %></td>
      <td><%= post.category.name %></td>
      <% if post.score >= 0 %>
        <td><%= post.score %></td>
      <% else %>
        <td><p class="text-danger"><%= post.score %></p></td>
      <% end %>
      <!--<td><#%= post.score %></td>-->
      <td><%= post.favorites.count %></td>
      <td><%= post.post_comments.count %></td>
    </tr>
  </tbody>
  <% end %>
</table>
<div class="d-flex justify-content-center mt-5">
  <%= paginate posts %>
</div>
</div>