<h1>カテゴリー一覧・追加</h1>

 <%= form_with model: @category,url:admin_categories_path, method: :post do |f| %>

  <%= f.text_field:name %>

  <%= f.submit "新規登録",class:"btn btn-success" %>

 <% end %>

 <h4>カテゴリー</h4>
 <% @categories.each do |category| %>

 <%= category.name %>

 <%= link_to "編集する",edit_admin_category_path(category.id) %>

 <% end %>
