<!DOCTYPE html>
<html>
  <head>
    <title>COMGAME</title>
    <!--<meta name="viewport" content="width=device-width,initial-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <script src="https://kit.fontawesome.com/87353d7c5c.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application' %>

 </head>
  <body>
    <header class="sticky-top" >
      <%= render 'layouts/header' %>
    </header>

    <main>
       <%= yield %>
    </main>

　　<footer class=" bg-dark text-white pt-3 pb-2">
　　  <%= render 'layouts/footer' %>
　　</footer>
  </body>
</html>
